# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# Aimmy specific
aimmy_linux/bin/configs/*.cfg
aimmy_linux/bin/models/*.onnx
aimmy_linux/bin/images/
aimmy_linux/bin/labels/
debug.txt

# IDE
.vscode/
.idea/
